# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Custom Scripts
seed_surveys.py
compile_translations.py
temp_seed.py
